{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <p class="color-red">This is orientDB site</p>
        </div>
    </div>
{% endblock %}
